.cabecalho{
     background-color:#b061e6;
     color: white;
     display: flex;
     justify-content: space-around;
}

.cabecalho-imagem{
   width:20%;
}

.cabecalho-lista-item{
     display: inline-block;
     margin: 0 16px; 
     padding: 24px 0;
     font-size: 24px;
}

* {
     margin: 0 16px;
     padding: 24px 0;
}

.imagem-escola{
     width: 25%
}

.escola{
     background-image: linear-gradient(#b061e6,#eb5fac);
     color:white;
     display: flex;
     justify-content: center;
}


.escola-conteudo {
     width: 35%;
     align-items: center;

}
body{
     font-family: 'Poppins', sans-serif;
}

.escola-titulo{
     padding: 30px 0;
}

.estudante-icone {
     width: 30px;

}

.estudante-todos{
     display: grid;
     grid-template-columns: 20% 20% 20% 20%;
     justify-content: center;
}

 .estudante {
     text-align: center;
 }    
